<?xml version="1.0" encoding="UTF-8"?>
<!-- Mole Windows MSI Installer Definition -->
<!-- Build with: WiX Toolset v3/v4 -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Product Definition -->
  <Product Id="*" 
           Name="Mole" 
           Language="1033" 
           Version="1.0.0" 
           Manufacturer="Mole Project" 
           UpgradeCode="12345678-1234-1234-1234-123456789ABC">
    
    <!-- Package Information -->
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Deep clean and optimize your Windows system"
             Comments="All-in-one toolkit for Windows maintenance" />
    
    <!-- Media Definition -->
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Upgrade Logic -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <!-- Installation Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <!-- Program Files -->
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Mole">
          
          <!-- Main executable and scripts -->
          <Component Id="MainExecutable" Guid="*" Win64="yes">
            <File Id="MolePS1" Source="..\mole.ps1" KeyPath="yes" />
            <File Id="InstallPS1" Source="..\install.ps1" />
            
            <!-- Environment PATH modification -->
            <Environment Id="PATH" 
                         Name="PATH" 
                         Value="[INSTALLFOLDER]" 
                         Permanent="no" 
                         Part="last" 
                         Action="set" 
                         System="yes" />
          </Component>
          
          <!-- License and documentation -->
          <Component Id="Documentation" Guid="*" Win64="yes">
            <File Id="LICENSE" Source="..\LICENSE" />
            <File Id="README" Source="..\README.md" />
          </Component>
          
          <!-- Binary directory -->
          <Directory Id="BinFolder" Name="bin">
            <Component Id="BinaryFiles" Guid="*" Win64="yes">
              <File Id="AnalyzeEXE" Source="..\bin\analyze.exe" />
              <File Id="StatusEXE" Source="..\bin\status.exe" />
              <File Id="CleanPS1" Source="..\bin\clean.ps1" />
              <File Id="UninstallPS1" Source="..\bin\uninstall.ps1" />
              <File Id="OptimizePS1" Source="..\bin\optimize.ps1" />
              <File Id="PurgePS1" Source="..\bin\purge.ps1" />
              <File Id="AnalyzePS1" Source="..\bin\analyze.ps1" />
              <File Id="StatusPS1" Source="..\bin\status.ps1" />
            </Component>
          </Directory>
          
          <!-- Library directory -->
          <Directory Id="LibFolder" Name="lib">
            
            <!-- Core libraries -->
            <Directory Id="LibCoreFolder" Name="core">
              <Component Id="CoreLibraries" Guid="*" Win64="yes">
                <File Id="BasePS1" Source="..\lib\core\base.ps1" />
                <File Id="CommonPS1" Source="..\lib\core\common.ps1" />
                <File Id="FileOpsPS1" Source="..\lib\core\file_ops.ps1" />
                <File Id="LogPS1" Source="..\lib\core\log.ps1" />
                <File Id="UiPS1" Source="..\lib\core\ui.ps1" />
              </Component>
            </Directory>
            
            <!-- Clean modules -->
            <Directory Id="LibCleanFolder" Name="clean">
              <Component Id="CleanModules" Guid="*" Win64="yes">
                <File Id="AppsPS1" Source="..\lib\clean\apps.ps1" />
                <File Id="CachesPS1" Source="..\lib\clean\caches.ps1" />
                <File Id="DevPS1" Source="..\lib\clean\dev.ps1" />
                <File Id="SystemPS1" Source="..\lib\clean\system.ps1" />
                <File Id="UserPS1" Source="..\lib\clean\user.ps1" />
              </Component>
            </Directory>
            
          </Directory>
          
        </Directory>
      </Directory>
      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Mole">
          <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="MoleShortcut" 
                      Name="Mole" 
                      Description="Windows System Maintenance Toolkit"
                      Target="[System64Folder]WindowsPowerShell\v1.0\powershell.exe" 
                      Arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;[INSTALLFOLDER]mole.ps1&quot;"
                      WorkingDirectory="INSTALLFOLDER" />
            
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" 
                          Key="Software\Mole" 
                          Name="installed" 
                          Type="integer" 
                          Value="1" 
                          KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      
    </Directory>
    
    <!-- Features -->
    <Feature Id="ProductFeature" Title="Mole" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="Documentation" />
      <ComponentRef Id="BinaryFiles" />
      <ComponentRef Id="CoreLibraries" />
      <ComponentRef Id="CleanModules" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    
    <!-- UI Configuration -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- License Agreement -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
    <!-- Icons -->
    <!-- <Icon Id="icon.ico" SourceFile="icon.ico" /> -->
    <!-- <Property Id="ARPPRODUCTICON" Value="icon.ico" /> -->
    
    <!-- Add/Remove Programs customization -->
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/bhadraagada/mole" />
    <Property Id="ARPCONTACT" Value="https://github.com/bhadraagada/mole/issues" />
    <Property Id="ARPHELPLINK" Value="https://github.com/bhadraagada/mole" />
    
  </Product>
  
</Wix>
